* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  padding: 0 calc(50% - 468px);

  .logo {
    width: 271px;

    img {
      display: block;
      margin: 0 auto;
    }

  }

  .block_projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .first_line, .second_line, .third_line {
      display: flex;
    }

    .first_line {
      h1 {
        margin: 0 21px 0 0;
      }
      p {
        display: block;
        padding: 5px;
        margin: auto;
        color: #4090db;
        border: 1px solid #4090db;
        text-align: center;
        border-radius: 5px;
      }
    }
    .second_line {
      p {
        margin-right: 30px;
        .numbers {
          font-weight: bold;
        }
      }

    }
    .third_line {
      height: 32px;

      p {
        display: block;
        margin: auto 15px auto 0;
      }

      .input-group {
        width: 183px;
        margin-right: 25px;
      }

      #datetimepicker1 {
        margin-bottom: 15px;
      }

      .input-group.date .input-group-addon {
        cursor: pointer;
        padding: 6px 10px;
      }
    }
  }
}

.main_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  padding: 72px calc(50% - 468px);
  background-color: #fafafa;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .photo {
      width: 292px;
      height: 292px;
      margin-bottom: 30px;
      color: white;
    }

    .block1 {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/img1.png");

    }
    .block2 {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/img2.png");
    }

    .block3 {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/img3.png");
    }
    .block4 {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/img4.png");
    }
    .block5 {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/img5.png");
    }
    .block6 {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/img6.png");
    }
    .block7 {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/img7.png");
    }
    .block8 {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/img8.png");
    }
    .block9 {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/img9.png");
    }
  }
}

footer{
  margin-top: 25px;
  .btn_load {
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px 45px;
    background-color: white;
    display: block;
    margin: 0 auto;
    outline: 0;
    outline-offset: 0;
  }
  .btn_load:hover {
    color: #0077b5;;
    border: 1px solid #0077b5;;
    cursor: pointer;
    box-shadow: 0px 0px 5px #0077b5;
  }
}

@media screen and (max-width: 975px){

  header {
    padding: 0 calc(50% - 410px);
  }

  .main_section {
  padding: 72px calc(50% - 310px);
    .content .photo:last-child {
      margin: 0 auto;
    }
 }

}

@media screen and (max-width: 660px){
  header {
    padding: 0;
    .block_projects {
      padding-left: 5px;

      .first_line {
        flex-direction: column;
        p {
          margin: 0;
        }
      }

      .second_line {
        p {
          margin-right: 10px;
          margin-bottom: 0;
          align-items: center;
        }
      }

      .third_line {
      flex-direction: column;
        height: auto;
        .input-group {
          width: 100%;
        }
      }
    }
  }

  .main_section {
    padding: 72px calc(50% - 145px);
  }
}

@media screen and (max-width: 490px){
  header {
    flex-direction: column;
    align-items: center;
  }
}

//
//@media (min-width: 767.98px){
//  .main_section, header {
//    padding: 0 calc(50% - 360px);
//  }
//}
//
//@media (min-width: 991.98px) {
//  .main_section, header {
//    padding: 0 calc(50% - 480px);
//  }
//}
//
//@media (min-width: 1199.98px){
//  .main_section, header {
//    padding: 0 calc(50% - 590px);
//  }
//}