* {
  box-sizing: border-box;
  //border: 1px solid black;
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  //justify-content: space-between;
  padding: 0 calc(50% - 468px);

  .logo {
    width: 271px;

    img {
      display: block;
      height: 100%;
      //width: 136px;
      margin: 0 auto;
    }

  }

  .block_projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .first_line, .second_line, .third_line {
      display: flex;
    }

    .first_line {
      h1 {
        margin-right: 21px;
      }
      p {
        display: block;
        padding: 5px;
        margin: auto;
        color: #4090db;
        border: 1px solid #4090db;
        text-align: center;
        border-radius: 5px;
      }
    }
    .second_line {
      p {
        margin-right: 30px;
        .numbers {
          font-weight: bold;
        }
      }

    }
    .third_line {
      p {
        margin-right: 15px;
      }
    }
  }
}

.main_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 calc(50% - 468px);
  background-color: #fafafa;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      width: 292px;
      height: 292px;
      margin-bottom: 30px;

    }
    .block1 {
      background-image: url("img/img1.png");

    }
    .block2 {
      background-image: url("img/img2.png");
    }
    .block3 {
      background-image: url("img/img3.png");
    }
    .block4 {
      background-image: url("img/img4.png");
    }
    .block5 {
      background-image: url("img/img5.png");
    }
    .block6 {
      background-image: url("img/img6.png");
    }
    .block7 {
      background-image: url("img/img7.png");
    }
    .block8 {
      background-image: url("img/img8.png");
    }
    .block9 {
      background-image: url("img/img9.png");
    }
  }
}